/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.min.css";

.container {
  position: absolute;
  top: 0;
  bottom: 0;
}

button {
  text-transform: uppercase;
  letter-spacing: 2.5px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  cursor: pointer;
}

.flex {
  margin-top: 5%;
  display: flex;
  justify-content: center;
}

.btn {
  position: absolute;
  bottom: 30px;
  width: 95%;
}

@media only screen and (max-width: 600px) {
  .container {
    top:20px;
  }
}
